{% extends "base.html" %}
{% block content %}
<body class="quiz-body">
    <div class="container completed-container">
        <h1>🎉 Поздравляем! 🎉</h1>
        <p>Вы успешно выучили все слова из словаря <strong>{{ dictionary_name }}</strong>.</p>
        <div class="button-container">
            <a href="{{ url_for('home') }}" class="button home">Выбрать другой словарь</a>
            <a href="{{ url_for('reset_scores', dictionary_name=dictionary_name) }}" class="button reset">Начать заново</a>
        </div>
    </div>
</body>
{% endblock %}