{% extends "base.html" %}
{% block content %}
<div class="user-info">
    <a href="{{ url_for('home') }}">На главную</a> 
</div>
<h2>Управление словарями</h2>

<div class="container"> 
    <div class="upload-form">
        <h3>Загрузить новый словарь</h3>
        <p>Файл должен быть в формате .txt, каждая строка: <code>слово:перевод:счет</code> (счет опционален).</p>
        <form method="post" action="{{ url_for('dictionaries') }}" enctype="multipart/form-data">
            <input type="file" name="file" required>
            <input type="submit" value="Загрузить">
        </form>
    </div>
</div>
{% endblock %}
