{% extends "base.html" %}
{% block content %}
<div class="user-info">
    <a href="{{ url_for('home') }}">На главную</a>
</div>
<h2>Редактировать словарь</h2>

<div class="container">
    <form method="get" action="{{ url_for('edit_dictionary') }}">
        <div class="form-field">
            <label for="dictionary_name">Выберите словарь:</label>
            <select name="dictionary_name" id="dictionary_name" onchange="this.form.submit()">
                <option value="">-- Выберите словарь --</option>
                {% for dic in dictionaries %}
                    <option value="{{ dic.name }}" {% if dic.name == selected_dictionary %}selected{% endif %}>{{ dic.name }}</option>
                {% endfor %}
            </select>
        </div>
    </form>

    {% if dictionary_content %}
    <form method="post" action="{{ url_for('save_dictionary') }}">
        <input type="hidden" name="original_dictionary_name" value="{{ selected_dictionary }}">
        <div class="form-field">
            <label for="new_dictionary_name">Имя словаря:</label>
            <input type="text" name="new_dictionary_name" id="new_dictionary_name" value="{{ selected_dictionary }}">
        </div>
        <div class="form-field">
            <label for="dictionary_content">Содержимое словаря:</label>
            <textarea name="dictionary_content" id="dictionary_content" rows="1" style="overflow-y: hidden;">{{ dictionary_content }}</textarea>
        </div>
        <div class="form-field">
            <input type="submit" value="Сохранить изменения" class="submit-btn login">
        </div>
    </form>
    <script>
        const textarea = document.getElementById('dictionary_content');

        function autoResize() {
            textarea.style.height = 'auto';
            textarea.style.height = textarea.scrollHeight + 'px';
        }

        textarea.addEventListener('input', autoResize);

        // Initial resize
        autoResize();
    </script>
    {% endif %}
</div>
{% endblock %}
