<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="auth-body">
    <div class="container auth-container">
        <h1>Вход</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash-messages">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}
            <div class="form-field">
                {{ form.username.label }}
                {{ form.username() }}
            </div>
            <div class="form-field">
                {{ form.password.label }}
                {{ form.password() }}
            </div>
            <div class="form-field">
                {{ form.submit(class="submit-btn login") }}
            </div>
        </form>
        <div class="links">
            <p>Нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрируйтесь</a></p>
        </div>
    </div>
</body>
</html>
