{% extends "base.html" %}
{% block content %}
<body class="quiz-body">
    <div class="container quiz-container">
        {% if current_user.is_authenticated %}
        <div class="user-info">
            <a href="{{ url_for('home') }}">&larr; К списку словарей</a>
        </div>
        {% endif %}
        
        <h1>Угадай перевод</h1>

        <div class="word-container">
            <h1><a href="https://dictionary.cambridge.org/dictionary/english/{{ word_to_translate | lower }}" target="_blank">{{ word_to_translate }}</a></h1>
            <button class="speak-btn" onclick="speak('{{ word_to_translate }}')">🔊</button>
        </div>

        <form method="POST" action="{{ url_for('quiz', dictionary_name=dictionary_name) }}">
            <input type="hidden" name="word" value="{{ word_to_translate }}">
            <input type="hidden" name="options" value="{{ options|join(',') }}">
            
            <div class="options-container">
                {% for option in options %}
                    <div class="radio-option">
                        <input type="radio" id="option_{{ loop.index }}" name="answer" value="{{ option }}"
                               onchange="this.form.submit()"
                               {% if is_answered %}disabled{% endif %}
                               {% if not is_answered %}required{% endif %}>
                        <label for="option_{{ loop.index }}" class="option
                            {% if is_answered and option == correct_answer %}
                                correct
                            {% elif is_answered and option == user_answer and not is_correct %}
                                incorrect
                            {% endif %}
                        ">{{ option }}</label>
                    </div>
                {% endfor %}
            </div>

            {% if is_answered %}
                <div class="button-container">
                    <a href="{{ url_for('quiz', dictionary_name=dictionary_name) }}" class="submit-btn next">Далее &rarr;</a>
                </div>
                <div class="answer-info">
                    <p class="score">Счет для этого слова: {{ score }}</p>
                </div>
            {% endif %}
        </form>
    </div>

    <script>
        function speak(text) {
            if ('speechSynthesis' in window) {
                window.speechSynthesis.cancel();
                const utterance = new SpeechSynthesisUtterance(text);
                utterance.lang = 'en-US';
                window.speechSynthesis.speak(utterance);
            } else {
                alert('Ваш браузер не поддерживает синтез речи.');
            }
        }
    </script>
</body>
{% endblock %}

